<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <!-- Standard Action Servlet Configuration -->
 <servlet>
   <servlet-name>softmart</servlet-name>
   <servlet-class>edu.tdp2.server.SoftmartServiceImpl</servlet-class>
 </servlet><servlet>
 	<servlet-name>newproject</servlet-name>
 	<servlet-class>edu.tdp2.server.FileUploadServlet</servlet-class>
 </servlet>

 <servlet>
 	<servlet-name>registration</servlet-name>
 	<servlet-class>edu.tdp2.server.FileUploadServlet</servlet-class>
 </servlet><servlet>
 	<servlet-name>newoferta</servlet-name>
 	<servlet-class>edu.tdp2.server.FileUploadServlet</servlet-class>
 </servlet><!-- Standard Action Servlet Mapping -->
 <servlet-mapping>
   <servlet-name>softmart</servlet-name>
   <url-pattern>/softmart</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
 	<servlet-name>newproject</servlet-name>
 	<url-pattern>/newproject</url-pattern>
 </servlet-mapping><servlet-mapping>
 	<servlet-name>registration</servlet-name>
 	<url-pattern>/registration</url-pattern>
 </servlet-mapping><servlet-mapping>
 	<servlet-name>newoferta</servlet-name>
 	<url-pattern>/newoferta</url-pattern>
 </servlet-mapping><!--BD-JDBC--><resource-ref>
   <description>DB Connection</description>
   <res-ref-name>jdbc/softmartDB</res-ref-name>
   <res-type>javax.sql.DataSource</res-type>
   <res-auth>Container</res-auth>
 </resource-ref>
 
 
 
 <servlet><servlet-name>modification</servlet-name><servlet-class>edu.tdp2.server.FileUploadServlet</servlet-class></servlet><servlet-mapping><servlet-name>modification</servlet-name><url-pattern>/modification</url-pattern></servlet-mapping> 
 
<servlet>
 	<servlet-name>download</servlet-name>
 	<servlet-class>edu.tdp2.server.FileDownloadServlet</servlet-class>
 </servlet> 
 
</web-app>
