/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.pc-template-btn {
  display: block;
  font-size: 16pt
}

#pc-template-img {
  margin-top: 20px;
}

.blocked {
   background-color: red;
   border: none;
 }

 body {
   background-color: #FFC83C; 
 }
 
.cursorPointer {
  cursor: pointer;
}


.table { 
	width: 580px;
	background-color: #FAFAFA;
	border: 2px solid #000000;
	border-collapse: collapse;
	border-spacing: 0px; 
}

.firstRow {
	background-color: #FFD700;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: center;
	font-weight: bold;
	font-style:italic; 
	font-size: 16px;
	color: #404040;
}

.column {
	border-right: 2px solid #000000;
	border-bottom: 2px dotted #BBBBBB;
	font-size: 14px;
	font-family: Verdana, sans-serif, Arial;
	padding: 3px;
}

.tableProjectWidget {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 2px ridge;
}

.tableEmpty{
	border-spacing: 0px;
	border-collapse: collapse;
}

.c1ProjectWidget{
	border-right: 2px ridge;
}

.c0ProjectWidget{
	font-family: Verdana, sans-serif, Arial;
	font-weight: bold;
	font-style:italic; 
	font-size: 12px;
}

.c1y2ProjectWidget{
	font-family: Verdana, sans-serif, Arial;
	font-size: 12px;
}

.row5c3ProjectWidget{
	border-top: 2px ridge;
	text-align: center;
}

.row0ProjectWidget{
	border-top: 2px ridge;
}

.row0c1ProjectWidget{
	border-right: 2px ridge;
}

.row1c1ProjectWidget{
	border-right: 2px ridge;
	border-bottom: 2px ridge;
}

.row1c0ProjectWidget{
	border-bottom: 2px ridge;
}

.row2c2ProjectWidget{
	border-left: 2px ridge;
}

.hl2 {
	border-bottom-style: ridge;
}

.styleOfganadora {
	font-family: Verdana, sans-serif, Arial;
	font-weight: bold;
	font-style:italic; 
	font-size: 12px;
	color: #8B0000;
}

.hl {
	border-right-style: ridge;
}

.dock{
	background-color: #DCDCDC;
}

.a-disabled{
	cursor:default;
	text-decoration:none;
	color: #cccccc
} 

.gwt-DecoratedTabBar {
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #FFA500;
}

.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}

.gwt-DecoratedTabBar .tabTopLeft {
    background: no-repeat ;
  	-background: no-repeat ;
}

.gwt-DecoratedTabBar .tabTopRight {
  background: no-repeat ;
  -background: no-repeat ;
}

.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #FFA500;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #FFA500;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #FF4500;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #FF4500;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #FF4500;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}

html>body .gwt-DecoratedTabBar {
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-color:	#FF4500;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}




